body{
  margin; 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg,#ffc857,#119DA4);

}

.container{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}

.container h1{
  font-size: 180px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(/404/img/nature-plyazh-pesok-palmi-tropiki-136169.png) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container a{
  text-decoration: none;
  background: #8DDFCB;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-decoration:underline;
  text-transform: uppercase;
  transition: 0.3s;
}

.container a:hover{
  background: #A6F6FF;
}
/* Pour les écrans mobiles */
@media screen and (max-width: 767px) {
  .container {
    width: 90%; /* Ajustez la largeur de la container selon vos besoins */
    padding: 20px; /* Ajoutez de la marge intérieure pour une meilleure lisibilité */
  }

  .container h1 {
    font-size: 100px; /* Réduisez la taille de la police pour les petits écrans */
  }
}

/* Pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 70%; /* Ajustez la largeur de la container selon vos besoins */
  }

  .container h1 {
    font-size: 140px; /* Ajustez la taille de la police pour les tablettes */
  }
}

/* Aucune media query nécessaire pour les PC, conservez le style par défaut */

/* Vous pouvez également ajouter d'autres media queries au besoin pour des résolutions spécifiques */
